@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");



body {
    font-family: "Poppins", sans-serif;

    --black: #242424;
    --white: #f5f5f5;
    --pill: #FDE8CD;
    --red: #cc033f;
}


.page-wrap {
    position: relative;
}


.active span:nth-of-type(1) {
    transform: translateY(-3px) scaleX(1.3);
}
.active span:nth-of-type(3) {
    transform: translateY(3px) scaleX(1.3);
}


main {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--i);
}

.hero-info {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 8;
}
.hero-info h2 {
    font-size: clamp(2rem, 9vw, 5rem);
    line-height: clamp(2rem, 9vw, 5rem);
    text-transform: uppercase;
}
.hero-info h1 {
    color: var(--white);
    font-size: clamp(3.2rem, 10vw, 7rem);
    line-height: clamp(3.2rem, 10vw, 7rem);
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.hero-info h3 {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 2em;
}
@supports (-webkit-text-stroke: 3px var(--pill)) {
    .hero-info h2 {
        color: transparent;
        -webkit-text-stroke: 3px var(--pill);
        text-shadow: none;
    }
}

.hero-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hi-1 {
    background-image: url("../img/AdobeStock_75519804.jpeg");
}

.hi-2 {
    background-image: url("https://images.unsplash.com/photo-1517057011470-8f36d636e6ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.hi-3 {
    background-image: url("../img/pexels-julia-volk-6408361.jpg");
}

.hi-4 {
    background-image: url("https://images.unsplash.com/photo-1574700273608-7962d3602a9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.hi-5 {
    background-image: url("../img/AdobeStock_206231154.jpeg");
}



.level-1 {
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2em;
}
.level-1 h3 {
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.level-1 p {
    margin: 0.5em 0 0 0.5em;
}
.level-1 p small {
    font-size: 1rem;
    opacity: 0.5;
    cursor: pointer;
}
.level-1 p small:hover {
    opacity: 1;
    color: var(--red);
}
.level-1 ul > li {
    font-size: 1.2rem;
    padding: 0.3em;
    transition: color 0.3s;
}
.level-1 ul > li:hover {
    color: var(--red);
    cursor: pointer;
}
.level-1 li:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/4;
}
.level-1 li:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}
.level-1 li:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 2/3;
}
.level-1 li:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 3/4;
}

.level-2 {
    padding: 0.3em 1em;
}
.level-2 li p {
    color: var(--red);
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1em 0;
    text-transform: uppercase;
    border-bottom: 1px solid #fde0ac;
}

.level-3 {
    display: flex;
    flex-wrap: wrap;
}
.level-3 li {
    padding: 0.5em 1em !important;
    background-color: var(--pill);
    border-radius: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1rem !important;
    cursor: pointer;
    color: var(--black);
}

@media screen and (max-width: 600px) {
    nav {
        padding: 1em 2em;
    }
    nav h1 {
        font-size: 0.9rem;
    }
    section {
        padding: 8em 2em 2em 2em;
    }
    .level-1 {
        grid-template-columns: 1fr;
    }
    .level-1 li:nth-of-type(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .level-1 li:nth-of-type(2) {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .level-1 li:nth-of-type(3) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .level-1 li:nth-of-type(4) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}


